/* PC */
@media (min-width: 64em) {
}

/* Tablet, Mobile */
@media (max-width: 63.9375em) {
  .btn {
    padding: 15px 16px;
  }

  #nav .subnav a {
    padding: 5px 12px;
  }

  .contact-form .form-control {
    padding: 15px;
    font-size: 16px;
  }

  .contact-info {
    line-height: 2;
  }

  .contact-submit-btn {
    font-size: 16 px;
  }

  #footer .socials-list a {
    font-size: 30px;
    margin: 0 8px;
  }

  #footer .copyright a {
    padding: 12px 0;
    display: inline-block;
  }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
}

/* Mobile */
@media (max-width: 46.1875em) {
  .s-max-width,
  .s-col-full {
    width: 100%;
  }

  .s-mt-8 {
    margin-top: 8px;
  }

  #header {
    overflow: hidden;
  }

  #header .search-btn {
    display: none;
  }

  #header .mobile-menu-btn {
    display: block;
  }

  #nav {
    display: block;
  }

  #nav > li {
    display: block;
  }

  #nav li a {
    padding: 1px 24px;
  }

  #nav > li:first-child {
    display: inline-block;
  }

  #nav .subnav {
    position: initial;
    background-color: #000;
  }

  #nav .subnav a {
    color: #fff;
    padding: 5px 41px;
  }

  #content .member-img {
    width: 60%;
    margin-bottom: 16px;
  }

  .places-list {
    margin-top: 32px;
  }

  .contact-form {
    margin-top: 32px;
  }
}
